import xmlrpc.client
from typing import Optional
from pyproxypattern import Proxy
MultiCall = xmlrpc.client.MultiCall


class {{ app_name_camelcase }}Client(Proxy):
    __slots__ = ('url', 'instance', '_callbacks', '_instance_check')
    url: Optional[str]

    def __init__(self, url: Optional[str] = None) -> None:
        super().__init__()
        self.instance = None
        if url:
            self.url = url
            self.new_instance()
        else:
            self.url = None

    def new_instance(self) -> None:
        if not self.url:
            raise AttributeError("need url!")
        client = xmlrpc.client.ServerProxy(self.url)
        self.initialize(client)

    def initialize_from_url(self, url: str) -> None:
        """从url中初始化客户端
        Args:
            url ([type]): 目标服务的地址
        """
        self.url = url
        self.new_instance()
        for callback in self._callbacks:
            callback(url)